<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imagenew1">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ShaleyPoshan"></activity>
        <activity
            android:name=".Report"
            android:label="तपासणी अहवाल"></activity>
        <activity
            android:name=".MyReport"
            android:label="Visit Reports"></activity>
        <activity
            android:name=".MyRoaster"
            android:label="My Roaster" />
        <activity
            android:name=".UpcomingVisits"
            android:label="Upcoming Visits" >

        </activity>
        <activity
            android:name=".UserProfile"
            android:label="My Profile" />

        <activity android:name=".Login" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="फोटो काढून अपलोड करा" />
        <activity
            android:name=".Profile"
            android:label="My Dashboard" />
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>